@media screen and (min-width: 1100px) {

  #members.grid {
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #menuBtn {
    display: none;
  }

  #navMenu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  main {
    max-width: 1400px;
    margin: auto;
  }

  .view-buttons button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border-radius: 10px;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }

  .info-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .spotlights-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .join-layout {

    display: grid;

    grid-template-columns: 2fr 1fr;

    gap: 2rem;

  }

}

