@media screen and (min-width: 1100px) {

  #members.grid {
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #menuBtn {
    display: none;
  }

  #navMenu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  main {
    max-width: 1400px;
    margin: auto;
  }

  .view-buttons button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border-radius: 10px;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }

  .info-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .spotlights-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .join-layout {

    display: grid;

    grid-template-columns: 2fr 1fr;

    gap: 2rem;

  }

  #places-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    grid-template-areas: 
      "card1 card2 card3" 
      "card4 card5 card6"
      "card7 card8 ."; 
  }

article:nth-child(1) {
grid-area: card1;}
article:nth-child(2) {
grid-area: card2;}
article:nth-child(3) {
grid-area: card3;}
article:nth-child(4) {
grid-area: card4;}
article:nth-child(5) {
grid-area: card5;}
article:nth-child(6) {
grid-area: card6;}
article:nth-child(7) {
grid-area: card7;}
article:nth-child(8) {
grid-area: card8;}

#places-grid article img {
  transition: transform 0.3s ease;
}

#places-grid article img:hover {
  transform: scale(1.05);
}

}

