@media (min-width: 1024px) {
  .hero {
    height: 500px;
  }

  .hero img {
    object-fit: cover;
  }

  #places-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  #featured-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  nav#navMenu {
    display: flex !important;
    flex-direction: row;
    gap: 1rem;
  }

  #menuBtn {
    display: none;
  }
}